name: release-backup

on:
  push:
    tags:
      - v*.*.*

concurrency:
  group: goreleaser
  cancel-in-progress: true

jobs:
  goreleaser:
    if: false
    runs-on: ubuntu-latest
    steps:
      - run: echo "Workflow disabled"
